apiVersion: apps/v1
kind: Deployment
metadata:
  name: grpc-echo-v2
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: grpc-echo
      version: v2
  template:
    metadata:
      labels:
        app: grpc-echo
        version: v2
    spec:
      containers:
      - name: grpc-echo
        image: {{ .Values.image }}
        imagePullPolicy: Always
        ports:
        - containerPort: 50051
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
