apiVersion: networking.istio.io/v1beta1
kind: DestinationRule
metadata:
  name: grpc-echo
spec:
  host: grpc-echo
  trafficPolicy:
    loadBalancer:
      simple: ROUND_ROBIN
  subsets:
  - name: v1
    labels:
      version: v1
  - name: v2
    labels:
      version: v2